<ion-view title="aapl" id="page2">
  <ion-content padding="true" class="has-header">
    <div ng-app="myApp" ng-controller="aaplCtrl">


      <h2>Symbol: {{symbol}}</h2>
      <br>
      <h2 ng-model="a">Current stock price: {{stock}}</h2>
      <br>
      <h2>Date of last analysis: {{date}}</h2>
      <br>
      <h2 ng-model="b">Previous {{previous}}</h2>
      <br>
      <h2 >Difference: {{dif}}</h2>
      <br>
      <h2>Recommendation: {{rec}}</h2>
      <br>
    </div>
        <a ui-sref="page()" id="ge-button21" class="button button-positive button-block">Return</a>

  </ion-content>
</ion-view>
