<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h2 id="page-heading1" style="color:#000000;">Exam2 - A01360926</h2>
    <a ui-sref="aapl()" id="page-button16" class="button button-positive button-block">AAPL</a>
    <a ui-sref="ge()" id="page-button17" class="button button-positive button-block">GE</a>
    <a ui-sref="sbux()" id="page-button18" class="button button-positive button-block">SBUX</a>
    <a ui-sref="wba()" id="page-button19" class="button button-positive button-block">WBA</a>
  </ion-content>
</ion-view>