<ion-view title="sbux" id="page4">
  <ion-content padding="true" class="has-header">
    <a ui-sref="page()" id="sbux-button22" class="button button-positive button-block">Return</a>
    <div ng-app="myApp" ng-controller="sbuxCtrl">


    <h2>Symbol: {{symbol}}</h2>
    <br>
    <h2 ng-model="a">Current stock price: {{stock}}</h2>
    <br>
    <h2>Date of last analysis: {{date}}</h2>
    <br>
    <h2 ng-model="b">Previous {{previous}}</h2>
    <br>
    <h2 >Difference: {{dif}}</h2>
    <br>
    <h2>Recommendation: {{rec}}</h2>
    <br>


  </ion-content>
</ion-view>
